.add{
    width: 70%;
    margin-left: 30px;
    margin-top: 40px;
    color: #5600ac;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
    border: 2px dotted;
}
.add-product-name, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input, .add-product-description textarea{
    padding: 10px;
    background-color: rgb(213, 164, 248);
    color: rgb(67, 0, 94);
}
.add-category-price{
    display: flex;
    gap: 30px;
    color: rgb(67, 0, 94);
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
    background-color: rgb(213, 164, 248);
    color: rgb(67, 0, 94);
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: rgb(45, 0, 78);
    color: rgb(208, 148, 250);
    cursor: pointer;
}